name: Lint Markdown

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-markdown:
    runs-on: ubuntu-latest

    steps:

    - name: Run Markdown Lint
      uses: DavidAnson/markdownlint-cli2-action@v22